node_modules/
.DS_Store
*.log
npm-debug.log*

# Android
android/.gradle/
android/local.properties
android/app/build/*
!android/app/build/.npmkeep
android/captures/
android/.cxx/

# iOS
ios/App/Pods/
ios/App/build/
*.xcuserstate
xcuserdata/
